#canvas {
  box-shadow: 10px 10px 20px black;
  margin-left: 8%;
}
body {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(0deg, red 0%, green 100%);
  display: flex;
  flex-direction: column;
  margin-right: 8%;
}

h1 {
  text-align: center;
}
