* #canvas {
  box-shadow: 10px 10px 20px black;
  margin-left: 8%;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(0.25turn, #195e30, #ebf8e1, #b61c1c);

  font-size: 20px;
}

/* MAIN PAGE */

.rule {
  font-size: 16px;
  text-align: center;
}
.rule a {
  background-color: rgb(94, 18, 18);
  border-radius: 5px;
  border: rgb(109, 20, 20);
  color: #ebf8e1;
  font-weight: 700;
  text-decoration: none;
}
.rule a:hover {
  background: #195e1c;
  color: rgb(245, 247, 244);
}
.rule h1 {
  font-size: 20px;
}
.MainImg {
  display: flex;
  margin-left: 45%;
}
.MainImg img {
  width: 8%;
}

.MainImg1 img {
  width: 5%;
}
.Img {
  width: 4%;
}
.escargot {
  width: 6%;
}
.echelle {
  padding-left: 2%;
}
.Img1 {
  width: 8%;
}

.Img2 {
  width: 8%;
}
/* INDEX PAGE */
h1 {
  text-align: center;
}

header {
  height: 10%;
}

dialog::backdrop {
  backdrop-filter: blur(3px);
}

#modal1 {
  background-color: #1b6935;
  box-shadow: rgb(255, 255, 255);
  text-align: center;
  border-radius: 20px;
  width: 300px;
}

#modal1 a {
  text-decoration: none;
  color: black;
}

#modal {
  background-color: #8b2929;
  box-shadow: rgb(255, 255, 255);
  text-align: center;
  border-radius: 20px;
  width: 300px;
}
#modal button {
  all: unset;
  text-decoration: none;
  color: black;
}
